docs/n8n-email-workflow.json
{
  "name": "Dynamic Email Template Sender with Variable Substitution UEC",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "uec-email",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4dc122bb-60aa-4fb5-8c94-3127691a6c79",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "58d28829-3ce1-40f6-ba1d-cdc0d46ea800",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SlP9CkfLW3Y0LFO0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a2dc0468-5749-4d41-869a-ad016c0e58b8",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const template  = item.json.template  || item.json.body?.template  || {};\n  const variables = item.json.variables || item.json.body?.variables || {};\n  \n  \n  // Function to replace variables in a string\n  const replaceVariables = (text) => {\n    if (typeof text !== 'string') return text;\n    return text.replace(/\\{\\{\\s*([^}]+)\\s*\\}\\}/g, (match, key) => {\n      const trimmedKey = key.trim();\n      return variables[trimmedKey] !== undefined ? variables[trimmedKey] : match;\n    });\n  };\n  \n  // Process template fields\n  const processedEmail = {\n    to: replaceVariables(template.to || variables.to || ''),\n    cc: replaceVariables(template.cc || variables.cc || ''),\n    bcc: replaceVariables(template.bcc || variables.bcc || ''),\n    subject: replaceVariables(template.subject || ''),\n    body: replaceVariables(template.body || ''),\n    isHtml: template.isHtml !== undefined ? template.isHtml : true\n  };\n  \n  results.push({\n    json: processedEmail\n  });\n}\n\nreturn results;"
      },
      "id": "4fb85a31-3fff-407f-a3cc-895d21a39e3a",
      "name": "Process Template with Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false,
          "bccList": "={{ $json.bcc }}",
          "ccList": "={{ $json.cc }}"
        }
      },
      "id": "3e6d79d4-0dc4-4ef0-8cf6-a2879041e749",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "webhookId": "e6e79d3a-2f78-4485-9d4c-8d00cf9777c8",
      "credentials": {
        "gmailOAuth2": {
          "id": "TZ5Q3I1sF0ZEuSJX",
          "name": "UEC"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Process Template with Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Template with Variables": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8b65a93d-e1d1-40c7-b670-2772a2bd30a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5412fa2c2ecc5aca0c5a93fe997a6529b615a66eb4bb0f49531f8b5b16b05c34"
  },
  "nodeGroups": [],
  "id": "0dpnetpjPA9TpVYJ",
  "tags": []
}